.Notifications {
    display: flex;
    flex-direction: column;
    border: 1px solid #E0354B;
    border-style: dashed;
    padding-top: 8px;
    margin: 0 10px;
    position: relative;
}
.Notifications button {
    border: none;
    background: white;
}
.Notifications button img {
    width: 10px;
}
.Notifications li[data-priority="default"] {
    color: blue;
}
.Notifications li[data-priority="urgent"] {
    color: red;
}